//temporary commenting out this whole section

/*

section.portfolio, div.portfolio_wrapper {
  padding: 10px;
}

div.portfolio_wrapper {
  margin-bottom: 60px;
}

div.portfolio_content_wrapper {
  padding-bottom: 2%;
}

h3.portfolio_item {
  margin-bottom: 0px;
}

span.industry {
  font-size: $midtext;
}

ul.tech_used {
  list-style-type: none;
  margin-left: -40px;
  font-size: $midtext;
  height: 50px;
  li {
    display: inline;
    font-size: $smalltext;
  }
}

figure.portfolio_fig {
  margin-top: 10px;
}

div.short_desc p {
  margin-top: 5px;
}

div.live_link {
  text-align: center;
}

a.live_button {
  display: block;
  height: 50px;
  width: 150px;
  background: $accentcolour;
  color: $white;
  padding-top: 20px;
  margin: 0 auto;
  text-decoration: none;
  text-transform: uppercase;
}

div.portfolio_wrapper {
  text-align: center;
}

*/