a {
	color: #1e0e04;
	&:hover {
		color: #333;
	}
}

/* paragraphs */

p {
	line-height: 1.5;
  font-size: 18px;
}

/*blockquotes*/

blockquote {
	background: #F7F7F7;
	margin: 0;
	padding: 20px;
	p {
		margin-top: 0;
	}
}

/*tables*/

table {
	td {
		padding: 10px;
	}
	tr td:first {
		padding-right: 0;
	}
}

/*def lists*/

dt {
	font-weight: 600;
	padding-bottom: 5px;
}

dd {
	padding: 10px;
	margin-left: 10px;
}

/*lists*/

ul li, ol li {
	padding: 3px;
}

/*PRE*/

pre {
	background: #F7F7F7;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #ccc;
}


/*
====================================
Global Classes / Wordpress Specific
====================================
*/

.aligncenter {
	text-align: center;
	margin: 0 auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

img {
	&.alignleft {
		padding-right: 5px;
	}
	&.alignright {
		padding-left: 5px;
	}
}

.clear {
	width: 100%;
	float: left;
	clear: both;
}

//My Type CSS

body.home.singular.page h1, body.home.singular.page p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $bodyfont;
}

h1 {
  font-size: 30px;
  font-weight: 100;
}

h1.section_title{
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

h1.main_site_title {
  margin-top: 45px;
  font-size: $titlefontsizemobile;
  padding: 6px;
  font-weight: 400;
  text-align: right;
  line-height: 24px;
}

h1.main_site_title a {
  text-decoration: none;
}

h1.entry-title {
  margin-top: 0px;
}

h2 {
  text-align: center;
}

h2.headline {
  font-size: 30px;
  margin-bottom: 0px;
}

h2.highlight {
  height: 60px;
  width: 100%;
  background: rgba($accentcolour, 0.3);
  padding-top: 20px;
  font-size: 24px;
}