//colours

$color2: #ed6e14;
$colorB: #fb452e;
$colorC: #64BC31;
$white: #f7f7f7;
$accentcolour: #FFCC00;


//typography

$bodyfont:  'Josefin Sans', sans-serif;
$titlefont: 'Josefin Sans', sans-serif;
$bodyfontsize: 20px;
$midtext: 16px;
$smalltext: 16px;
$chunkytext: 22px;

$titlefontsizemobile: 24px;



